body{
    background-color: #225C93;
}
.centralizado{
    margin: 20px auto;
    width: 60%;
    text-align: center;
}
nav a{
    color: white;
}
body h1 {
    text-align: center;
    color: #225C93;
}
nav{
    background-color: #FF632E;
    text-align: left;
    padding: 10px;
}
#formulario{
    padding-left: 20px;
    margin: 0 auto;
    text-align: left;
}
footer{
    margin: 10px auto;
    text-align: center;
}

header{
    background-image: linear-gradient(to bottom, #2EB5FF, #FFC75F);
    height: 25%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
#conteudo{
    margin-top: 1%;
    padding-bottom: 10px;
    border-radius: 20px;
    background-color: white;
}
